version: "3.9"

services:
  app:
    build: .
    container_name: sicredi-app
    environment:
      # O app dentro do container enxerga o SQL Server do host por host.docker.internal
      DB_HOST: "host.docker.internal"
      DB_PORT: "1433"
      DB_NAME: "sicredi"
      DB_USER: "sicredi_user"
      DB_PASSWORD: "SenhaForte123!"
    volumes:
      - .:/app
    ports:
      - "8888:8888"
    working_dir: /app
    command: [
      "jupyter", "lab",
      "--ip=0.0.0.0",
      "--port=8888",
      "--no-browser",
      "--allow-root"
    ]
