version: '3.8'

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sicredi-sql
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "S3nh@F0rte!!!"
      MSSQL_PID: "Express"
    ports:
      - "11433:1433"
    networks:
      - sicredi-net

  etl:
    build: .
    container_name: sicredi-etl
    depends_on:
      - sqlserver
    environment:
      DB_HOST: sqlserver
      DB_PORT: 1433
      DB_NAME: sicredi
      DB_USER: sicredi_user
      DB_PASSWORD: SenhaForte123!
      SA_PASSWORD: "S3nh@F0rte!!!"
      ODBC_DRIVER: "ODBC Driver 18 for SQL Server"
    volumes:
      - ./data:/app/data
      - .:/app
    networks:
      - sicredi-net
    command: >
      sh -c "sleep 25 && python etl/etl_sicooperative.py"

networks:
  sicredi-net:
    driver: bridge
