version: "3.9"

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sicredi-sql
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=YourStrong@Passw0rd
      - MSSQL_PID=Express
    ports:
      - "1433:1433"
    networks:
      - sicredi-net
    # volumes, init scripts etc, se quiser

  etl:
    build: .
    container_name: sicredi-etl
    depends_on:
      - sqlserver
    environment:
      - DB_HOST=sqlserver
      - DB_PORT=1433
      - DB_NAME=sicredi
      - DB_USER=sicredi_user
      - DB_PASSWORD=SenhaForte123!
    volumes:
      - ./data:/app/data
    networks:
      - sicredi-net

networks:
  sicredi-net:
    driver: bridge
